# Utilities
setuptools
wheel
tqdm
icecream
pyyaml
python-snappy

# Data science libraries
numpy
scipy
pandas
matplotlib
seaborn

# Machine learning libraries
scikit-learn

# Linting & formatting
flake8
black
pycodestyle
pydocstyle
pre-commit

# Test
pytest
